<!-- Datei: _includes/menu.html -->
<div class="navbar">
    <a href="Home.html">Home</a>

    <div class="dropdown">
        <button class="dropbtn">Über mich
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="WersteckthinterFarbgiraffe.html">Wer steckt hinter Farbgiraffe?</a>
            <a href="#">Kontakt</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Einblicke
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="WoFantasieundFreiheitsichtreffen.html">Wo Fantasie und Freiheit sich treffen</a>
            <a href="MutzumMalenMeinekreativeReise.html">Mut zum Malen: Meine kreative Reise</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Galerie
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="MixedMedia.html">Mixed Media</a>
            <a href="Mandalas.html">Mandalas</a>
            <a href="EineRundeSache">Eine Runde Sache</a>
            <div class="dropdown-submenu">
                <button class="dropbtn">Happy Painting</button>
                <div class="dropdown-submenu-content">
                    <a href="HappyPaintingNachTutorial.html">Nach HP-Tutorial</a>
                    <a href="HappyPaintingEigenkreationen.html">Eigenkreationen</a>
                </div>
            </div>
        </div>
    </div>
</div>
